<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Nosotros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="./assets/logo.jpg"></ion-img>
  <br>
  <ion-card style="color: black;">
    <ion-card-content>
      <p style="text-align: center;">
        <b>¡Siete años regresandoles a las personas las sonrisas que quieren y
          merecen!</b>
      </p>
      <br>
      <p style="text-align: justify;">
        <ion-icon name="people"></ion-icon>
        Contamos con excelentes profesionales y especialistas que te brindarán una atención de primera.
      </p>
      <br>
      <p style="text-align: justify;">
        <ion-icon name="checkmark"></ion-icon> También contamos con instalaciones y equipos tecnológicos modernos,
        con el fin de garantizar la calidad de nuestros servicios.
      </p>
      <br>
    </ion-card-content>
  </ion-card>

</ion-content>