<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color='tertiary'>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Jema Dental
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content style="text-align: center;">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="menu" routerLink="/menuP/p/citas" color="light">
            <div style="width: 150px;">
              <ion-icon style="color:black; width: 100px; height: 100px;" name="calendar"></ion-icon>
              <br>
              <a style="color: black;">Agendar Citas</a>
            </div>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="menu" routerLink="/menuP/p/odontologos" color="light">
            <div style="width: 150px;">
              <ion-icon style="color:black; width: 100px; height: 100px;" name="people"></ion-icon>
              <br>
              <a style="color: black;">Odontólogos</a>
              <br>
              <a style="color: black;">por especialidad</a>
            </div>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="menu" routerLink="/menuP/p/sugerencias" color="light">
            <div style="width: 150px;">
              <ion-icon style="color:black; width: 100px; height: 100px;" name="clipboard"></ion-icon>
              <br>
              <a style="color: black;">Sugerencias</a>
              <br>
              <a style="color: black;">Médicas</a>
            </div>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="menu" routerLink="//menuP/p/solicitudes" color="light">
            <div style="width: 150px;">
              <ion-icon style="color:black; width: 100px; height: 100px;" name="thumbs-up"></ion-icon>
              <br>
              <a style="color: black;">Ayudanos a</a>
              <br>
              <a style="color: black;">Mejorar</a>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>