<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" text="" style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">Recuperar Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <div style="text-align: center;">
    <form [formGroup]='resetPassForm' (ngSubmit)="sendEmail()">
      <ion-label> <b>¿ Olvidaste la contraseña ?</b></ion-label>
      <br>
      <br>
      <br>
      <span>Ingresa el correo electrónico para restablecer la contraseña.
      </span>
      <br>
      <br>
      <ion-item>
        <ion-input placeholder="Correo electrónico" type="email" formControlName="email"></ion-input>
      </ion-item>
      <br>
      <br>
      <ion-button color="tertiary" type="submit">Recuperar contraseña
        <ion-icon name="send" slot="start"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>