<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
<div class="avatar-upload">
  <div class="avatar-preview">
    <div id="imagePreview" [style.backgroundImage]="'url('+ this.pacientService.pacienteSelected.foto +')'">
      <ion-fab bottom right edge>
        <ion-fab-button size="small" color="tertiary"  (click)="addPhoto()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>
</div>
<br>
<br>
 <ion-list>
    <ion-item>
      <ion-avatar slot="start" style="text-align: center;">
        <ion-icon name="perm_identity"></ion-icon>
      </ion-avatar>
        <b style="font-size: 14px;">N° de Identificación:</b>
        &nbsp;
        <a style="font-size: 14px; color: #000;"> {{userPaciente.cedula}}</a>
    </ion-item>
    <ion-item button (click)="editNameP()" detail="false">
      <ion-avatar slot="start">
        <ion-icon name="person"></ion-icon>
      </ion-avatar>
        <b style="font-size: 14px;">Nombre:</b>
        &nbsp;
        <a style="font-size: 14px; color: #000;"> {{userPaciente.nombre}}</a>
        <ion-icon name="create" slot="end"></ion-icon>
    </ion-item>
    <ion-item button (click)="editEmailP()" detail="false">
      <ion-avatar slot="start">
        <ion-icon name="mail"></ion-icon>
      </ion-avatar>
        <b style="font-size: 14px;">Email: </b>
        &nbsp;
        <a style="font-size: 14px; color: #000;"> {{userPaciente.email}}</a>
        <ion-icon name="create" slot="end"></ion-icon>
    </ion-item>
    <ion-item button (click)="editTelfP()" detail="false">
      <ion-avatar slot="start">
        <ion-icon name="call"></ion-icon>
      </ion-avatar>
        <b style="font-size: 14px;">Teléfono: </b>
        &nbsp;
        <a style="font-size: 14px; color: #000;"> {{userPaciente.telefono}}</a>
        <ion-icon name="create" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
  <br>
  <br>
  <ion-card>
    <form [formGroup]='passwordForm' (ngSubmit)="onChangePass()">
      <div style="text-align: center; background-color: #8a2be2; height: 45px;">
        <br>
        <ion-label style="font-size: 18px; color:white;">Cambiar contraseña</ion-label>
      </div>
      <div style="text-align: center;">
        <ion-item>
          <ion-input id="newpass" name="newpass"  [type]="hideNew ? 'text' : 'password'"
            placeholder="Nueva Contraseña" formControlName="pass"></ion-input>
          <ion-button style=" border-radius: 20px;" shape="round" color='light'
            (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew"
            type="button">
            <ion-icon slot="icon-only" [name]="hideNew ? 'eye' : 'eye-off'"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-input id="confirmpass" name="confirmpass" 
            [type]="hideConfirm ? 'text' : 'password'" placeholder="Confirmar Contraseña" formControlName="confirmPass"></ion-input>
          <ion-button style=" border-radius: 20px;" shape="round" color='light'
            (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm"
            type="button">
            <ion-icon slot="icon-only" [name]="hideConfirm ? 'eye' : 'eye-off'"></ion-icon>
          </ion-button>
        </ion-item>
        <br>
      <ion-button type="submit">Guardar
        <ion-icon slot="start" name="save"></ion-icon>
      </ion-button>
      <br>
      <br>
      </div>
    </form>
  </ion-card>
</ion-content>
