<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color='tertiary'>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        JEMA DENTAL 
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content style="text-align: center;">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="menu" routerLink="/menuO/o/citas" color="light">
            <div style="width: 150px;">
              <ion-icon style="color:black; width: 100px; height: 100px;" name="calendar"></ion-icon>
              <br>
              <a style="color: black;">Citas</a>
            </div>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="menu" routerLink="/menuO/o/pacientes" color="light">
            <div style="width: 150px;">
              <ion-icon style="color:black; width: 100px; height: 100px;" name="people"></ion-icon>
              <br>
              <a style="color: black;">Pacientes</a>
            </div>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="menu"  routerLink="/menuO/o/sugerencias" color="light">
            <div style="width: 150px;">
              <ion-icon style="color:black; width: 100px; height: 100px;" name="clipboard"></ion-icon>
              <br>
              <a style="color: black;">Sugerencias</a>
              <br>
              <a style="color: black;"> a Pacientes</a>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div> 


